@font-face {
  font-family: 'numfont';
  /*a name to be used later*/
  src: url("fonts/Sketch College.ttf");
  /*URL to font*/
}
@font-face {
  font-family: 'opfont';
  /*a name to be used later*/
  src: url("fonts/animeace2_reg.otf");
  /*URL to font*/
}
@font-face {
  font-family: 'scorefont';
  /*a name to be used later*/
  src: url("fonts/WOODCUT.TTF");
  /*URL to font*/
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-highlight: none;
}

body {
  background: url("./images/bg-1024.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: visible;
}

.label-score {
  font-family: 'opfont';
  font-size: 3em !important;
  float: left;
}

#label-hour {
  font-family: 'opfont';
  font-size: 3em !important;
}

.row div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 0px black solid;
  vertical-align: middle;
}

.progress {
  border: 1px black solid;
}

.btn-text {
  font-family: 'opfont';
  font-size: 3em !important;
  border: 4px black solid;
  width: 100%;
}

.btn-num {
  font-family: 'numfont';
  font-size: 5em !important;
  border: 4px black solid;
  width: 100%;
}

.btn-op {
  font-family: 'opfont';
  font-size: 3em !important;
  border: 4px black solid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#hourglass {
  width: 36px;
  padding-left: 0px;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

/* Smaller Smartphones ----------- */
@media (max-width: 368px) {
  .btn {
    padding: 10px 10px 10px 10px;
  }

  .btn-num {
    font-size: 4em !important;
  }

  .btn-op {
    font-size: 3em !important;
  }

  .btn-text {
    font-size: 1em !important;
  }

  .label-score, #label-hour {
    font-size: 1em !important;
  }

  #hourglass {
    width: 24px;
  }
}
/* Smartphones ----------- */
@media (min-width: 368px) and (max-width: 768px) {
  .btn-num {
    font-size: 5em !important;
  }

  .btn-op {
    font-size: 3em !important;
  }

  .btn-text {
    font-size: 1.5em !important;
  }

  .label-score, #label-hour {
    font-size: 1.25em !important;
  }

  #hourglass {
    width: 24px;
  }
}
/* Tablets ----------- */
@media (min-width: 769px) and (max-width: 1024px) {
  #hourglass {
    width: 48px;
  }
}
/* Desktop ----------- */
@media (min-width: 1024px) {
  #hourglass {
    width: 48px;
  }
}
/* Large Screen ----------- */
