* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-highlight: none;
}

body {
  /*
  background: url('./images/bg-1024.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  -webkit-backface-visibility: visible;
}

.num-container, .op-container, .text-container {
  margin-left: 3px;
  margin-right: 3px;
}

.top-container {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.bottom-container {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.label-score {
  font-size: 3em !important;
  float: left;
}

#label-hour {
  font-size: 3em !important;
}

.row div, .row-fluid div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 0px black solid;
  vertical-align: middle;
}

.progress {
  border: 1px black solid;
}

.btn-text {
  font-size: 3em !important;
}

.btn-num {
  font-size: 5em !important;
}

.btn-op {
  font-size: 3em !important;
}

.btn {
  /*
  background-image: url("../images/border.png");  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  */
  background-color: transparent;
  border: 1px #989CA2 solid;
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

img.chance {
  content: url("../images/pencil.png");
}

.inline-btn img {
  width: 16px;
}

.footer {
  bottom: 0;
  position: fixed;
  min-width: 100%;
}

#hourglass {
  width: 36px;
  padding-left: 0px;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.text-nav a {
  width: 100% !important;
  display: block;
}

/* Smaller Smartphones ----------- iPhone5*/
@media (max-width: 368px) {
  .btn {
    padding: 6px 6px 6px 6px;
    /*border: 4px blue solid;*/
  }

  .row div {
    padding: 6px 6px 6px 6px;
  }

  .btn-num {
    font-size: 4em !important;
  }

  .btn-op {
    font-size: 3em !important;
  }

  .btn-text {
    font-size: 1.5em !important;
  }

  .btn-main {
    font-size: 1.5em !important;
    padding: 12px 12px 12px 12px;
  }

  .label-score {
    font-size: 1.5em !important;
  }

  #label-hour {
    font-size: 1.25em !important;
  }

  .blank {
    font-size: 0.2em !important;
  }

  .inline-btn img {
    width: 24px;
  }

  #hourglass {
    width: 24px;
  }

  .glyphicon {
    font-size: 2em;
  }
}
/* Smartphones ----------- iPad*/
@media (min-width: 368px) and (max-width: 768px) {
  .btn {
    padding: 12px 12px 12px 12px;
    /*border: 4px green solid;*/
  }

  .row div {
    padding: 12px 12px 12px 12px;
  }

  .btn-num {
    font-size: 5em !important;
  }

  .btn-op {
    font-size: 3em !important;
  }

  .btn-text {
    font-size: 1.5em !important;
  }

  .label-score, #label-hour {
    font-size: 1.5em !important;
  }

  #hourglass {
    width: 44px;
  }
}
/* Tablets ----------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .btn {
    padding: 12px 12px 12px 12px;
    /*border: 4px blue solid;*/
  }

  .row div {
    padding: 12px 12px 12px 12px;
  }

  .btn-num {
    font-size: 6em !important;
  }

  .btn-op {
    font-size: 3em !important;
  }

  .btn-text {
    font-size: 1.5em !important;
  }

  .btn-main {
    font-size: 1.5em !important;
    padding: 12px 12px 12px 12px;
  }

  .label-score {
    font-size: 1.5em !important;
  }

  #label-hour {
    font-size: 1.25em !important;
  }

  .blank {
    font-size: 0.2em !important;
  }

  .inline-btn img {
    width: 24px;
  }

  #hourglass {
    width: 24px;
  }

  .glyphicon {
    font-size: 2em;
  }
}
/* Desktop ----------- */
@media (min-width: 1024px) {
  .btn {
    padding: 12px 12px 12px 12px;
    /*border: 4px blue solid;*/
  }

  .row div {
    padding: 12px 12px 12px 12px;
  }

  .btn-num {
    font-size: 6em !important;
  }

  .btn-op {
    font-size: 3em !important;
  }

  .btn-text {
    font-size: 1.5em !important;
  }

  .btn-main {
    font-size: 1.5em !important;
    padding: 12px 12px 12px 12px;
  }

  .label-score {
    font-size: 1.5em !important;
  }

  #label-hour {
    font-size: 1.25em !important;
  }

  .blank {
    font-size: 0.2em !important;
  }

  .inline-btn img {
    width: 24px;
  }

  #hourglass {
    width: 24px;
  }

  .glyphicon {
    font-size: 2em;
  }
}
/* Large Screen ----------- */
/* #ADB0B5 */
/* #797B7F */
body {
  background-color: #e7f9f9;
}

/*
.num-container {
  background-color: #FFFFFF;
}

.op-container {
  background-color: #FFFFFF;
}

.text-container {
  background-color: #FFFFFF;
}
*/
#in1 {
  background-color: #7BC491;
  /* #59C4BC */
}

#in1.selected {
  background-color: #629D74;
  /* #306A66 */
}

#in2 {
  background-color: #F5696C;
}

#in2.selected {
  background-color: #C45456;
}

#in3 {
  background-color: #14B9D5;
}

#in3.selected {
  background-color: #1094AA;
}

#in4 {
  background-color: #ECC850;
}

#in4.selected {
  background-color: #BDA040;
}

.btn {
  color: #FFFFFF;
}

.btn-op {
  background-color: #7bd0d1;
}

.btn-op.selected {
  background-color: #569292;
}

.btn-text {
  background-color: #7bd0d1;
}

.btn-text:active {
  background-color: #569292;
}

#btn-play {
  background-color: #3CABD5;
}

#btn-login {
  background-color: #3B5998;
}

#bottomNav {
  background-color: #7bd0d1;
}
#bottomNav a {
  color: #FFFFFF;
}
#bottomNav .text-nav {
  background-color: #7bd0d1;
}
#bottomNav .text-nav:active, #bottomNav a:active {
  background-color: #569292;
}

@font-face {
  font-family: 'numfont';
  /*a name to be used later*/
  src: url("fonts/Sketch College.ttf");
  /*URL to font*/
}
@font-face {
  font-family: 'animceace';
  /*a name to be used later*/
  src: url("fonts/animeace2_reg.otf");
  /*URL to font*/
}
@font-face {
  font-family: 'scorefont';
  /*a name to be used later*/
  src: url("fonts/WOODCUT.TTF");
  /*URL to font*/
}
@font-face {
  font-family: 'tusj';
  src: url("../fonts/FFF Tusj.ttf");
}
@font-face {
  font-family: 'sandbook';
  src: url("../fonts/Quicksand-Regular.otf");
}
.label-score {
  font-family: 'animceace';
}

#label-hour {
  font-family: 'animceace';
}

.btn-text {
  font-family: 'animceace';
}

.btn-num {
  font-family: 'numfont';
}

.btn-op {
  font-family: 'tusj';
}

#bottomNav a {
  font-family: 'sandbook';
}
