@font-face {
  font-family: 'numfont';
  /*a name to be used later*/
  src: url("fonts/Sketch College.ttf");
  /*URL to font*/
}
@font-face {
  font-family: 'opfont';
  /*a name to be used later*/
  src: url("fonts/animeace2_reg.otf");
  /*URL to font*/
}
@font-face {
  font-family: 'scorefont';
  /*a name to be used later*/
  src: url("fonts/WOODCUT.TTF");
  /*URL to font*/
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-highlight: none;
}

body {
  /*
  background: url('./images/bg-1024.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  -webkit-backface-visibility: visible;
}

.num-container, .op-container, .text-container {
  margin-left: 3px;
  margin-right: 3px;
}

.top-container {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.bottom-container {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.label-score {
  font-family: 'opfont';
  font-size: 3em !important;
  float: left;
}

#label-hour {
  font-family: 'opfont';
  font-size: 3em !important;
}

.row div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 0px black solid;
  vertical-align: middle;
}

.progress {
  border: 1px black solid;
}

.btn-text {
  font-family: 'opfont';
  font-size: 3em !important;
}

.btn-num {
  font-family: 'numfont';
  font-size: 5em !important;
}

.btn-op {
  font-family: 'opfont';
  font-size: 3em !important;
}

.btn {
  /*
  background-image: url("../images/border.png");  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  */
  background-color: transparent;
  border: 1px #989CA2 solid;
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.inline-btn img {
  width: 16px;
}

.footer {
  bottom: 0;
  position: fixed;
  min-width: 100%;
}

#hourglass {
  width: 36px;
  padding-left: 0px;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

/* Smaller Smartphones ----------- */
@media (max-width: 368px) {
  .btn {
    padding: 6px 6px 6px 6px;
    /*border: 4px blue solid;*/
  }

  .row div {
    padding: 6px 6px 6px 6px;
  }

  .btn-num {
    font-size: 4em !important;
  }

  .btn-op {
    font-size: 3em !important;
  }

  .btn-text {
    font-size: 1.5em !important;
  }

  .label-score, #label-hour {
    font-size: 1em !important;
  }

  .blank {
    font-size: 0.3em !important;
  }

  .inline-btn img {
    width: 20px;
  }

  #hourglass {
    width: 24px;
  }
}
/* Smartphones ----------- iPad*/
@media (min-width: 368px) and (max-width: 768px) {
  .btn {
    padding: 6px 6px 6px 6px;
    /*border: 4px green solid;*/
  }

  .row div {
    padding: 6px 6px 6px 6px;
  }

  .btn-num {
    font-size: 5em !important;
  }

  .btn-op {
    font-size: 3em !important;
  }

  .btn-text {
    font-size: 1.5em !important;
  }

  .label-score, #label-hour {
    font-size: 1.5em !important;
  }

  #hourglass {
    width: 44px;
  }
}
/* Tablets ----------- */
@media (min-width: 769px) and (max-width: 1024px) {
  #hourglass {
    width: 48px;
  }
}
/* Desktop ----------- */
@media (min-width: 1024px) {
  #hourglass {
    width: 48px;
  }
}
/* Large Screen ----------- */
body {
  background-color: #EAEDF2;
}

.num-container {
  background-color: #FFFFFF;
}

.op-container {
  background-color: #FFFFFF;
}

.text-container {
  background-color: #FFFFFF;
}

#in1 {
  background-color: #59C4BC;
}

#in1.selected {
  background-color: #306A66;
}

#in2 {
  background-color: #F5696C;
}

#in2.selected {
  background-color: #B04C4D;
}

#in3 {
  background-color: #14B9D5;
}

#in3.selected {
  background-color: #0E8599;
}

#in4 {
  background-color: #ECC850;
}

#in4.selected {
  background-color: #A58C38;
}

.btn-op {
  background-color: #ADB0B5;
}

.btn-text {
  background-color: #ADB0B5;
}

.btn {
  color: #FFFFFF;
}
