* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-highlight: none;
}
      
body {
  /*
  background: url('./images/bg-1024.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  -webkit-backface-visibility: visible;
}

.num-container, .op-container, .text-container {
  margin-left: 3px;
  margin-right: 3px;
}

.top-container {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.bottom-container {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.label-score{
  font-size: 3em !important;
  float: left;
}

#label-hour{
  font-size: 3em !important;
}

.row div, .row-fluid div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
  vertical-align: middle;
}

.progress {
  border: 1px black solid;
}

.btn-text {
  font-size: 3em !important;
}

.btn-num {
  font-size: 5em !important;
}

.btn-op {
  font-size: 3em !important;
}

.btn {
  /*
  background-image: url("../images/border.png");  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  */
  background-color: transparent;
  border: 1px #989CA2 solid;
  width: 100%;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

img.chance{
  content: url("../images/pencil.png");

}

.inline-btn img{
  width: 16px;
}

.footer {
  bottom: 0;
  position: fixed;
  min-width: 100%;
}

#hourglass {
  width: 36px;
  padding-left: 0px;
}

.float-right {
  float:right !important;
}

.float-left {
  float:left !important;
}

.text-nav a{
  width: 100% !important;
  display:block;
}



@import 'devices';
@import 'colors';
@import 'fonts';
