body {
  background-color: #EAEDF2;
}

.num-container {
  background-color: #FFFFFF;
}

.op-container {
  background-color: #FFFFFF;
}

.text-container {
  background-color: #FFFFFF;
}

#in1 {
  background-color: #59C4BC;  
}

#in1.selected{
  background-color: #306A66;
}

#in2 {
  background-color: #F5696C;  
}

#in2.selected{
  background-color: #B04C4D;
}

#in3 {
  background-color: #14B9D5;  
}

#in3.selected{
  background-color: #0E8599;
}

#in4 {
  background-color: #ECC850;  
}

#in4.selected{
  background-color: #A58C38;
}

.btn-op {
  background-color: #ADB0B5;
}

.btn-op.selected {
  background-color: #797B7F;
}

.btn-text {
  background-color: #ADB0B5;
}

.btn-text:active {
  background-color: #797B7F;
}
.btn {
  color: #FFFFFF;
}
