$gen-buttons-color: #7bD0D1; /* #ADB0B5 */
$gen-buttons-active-color: #569292; /* #797B7F */

body {
  background-color: #e7f9f9;
}
/*
.num-container {
  background-color: #FFFFFF;
}

.op-container {
  background-color: #FFFFFF;
}

.text-container {
  background-color: #FFFFFF;
}
*/
#in1 {
  background-color: #7BC491;  /* #59C4BC */
}

#in1.selected{
  background-color: #629D74;  /* #306A66 */
}

#in2 {
  background-color: #F5696C;  
}

#in2.selected{
  background-color: #C45456;
}

#in3 {
  background-color: #14B9D5;  
}

#in3.selected{
  background-color: #1094AA;
}

#in4 {
  background-color: #ECC850;  
}

#in4.selected{
  background-color: #BDA040;
}

.btn-op {
  background-color: $gen-buttons-color;
}

.btn-op.selected {
  background-color: $gen-buttons-active-color;
}

.btn-text {
  background-color: $gen-buttons-color;
}

.btn-text:active {
  background-color: $gen-buttons-active-color;
}

.btn {
  color: #FFFFFF;
}

#bottomNav {
  a {
    color: #FFFFFF;
  }
  
  .text-nav {
    background-color: $gen-buttons-color;
  }  

  .text-nav:active, a:active {
    background-color: $gen-buttons-active-color;
  }
}
