$padSize : 6px;

/* Smaller Smartphones ----------- iPhone5*/
@media (max-width: 368px) {
  .btn {
    padding: $padSize $padSize $padSize $padSize;
    /*border: 4px blue solid;*/
  }
  
  .row div {
    padding: $padSize $padSize $padSize $padSize;
  }
  
  .btn-num {
    font-size: 4em !important;
  }
  .btn-op {
    font-size: 3em !important;
  }
  .btn-text {
    font-size: 1.5em !important;
  }
  .btn-main {
    font-size: 1.5em !important;
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
  }
  .label-score{
    font-size: 1.5em !important;
  }
  #label-hour{
    font-size: 1.25em !important;
  }
  .blank {
    font-size: 0.2em !important;
  }
  .inline-btn img{
    width: 24px;
  }
  #hourglass{
    width: 24px;
  }
  .glyphicon {
    font-size: 2em;
  }
}
/* Smartphones ----------- iPad*/
@media (min-width: 368px) and (max-width: 768px) {
  .btn {
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
    /*border: 4px green solid;*/
  }
  
  .row div {
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
  }
  .btn-num {
    font-size: 5em !important;
  }
  .btn-op {
    font-size: 3em !important;
  }
  .btn-text {
    font-size: 1.5em !important;
  }
  .label-score, #label-hour{
    font-size: 1.5em !important;
  }
  #hourglass{
    width: 44px;
  }
}

/* Tablets ----------- */
@media (min-width: 769px) and (max-width: 1024px) {
  .btn {
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
    /*border: 4px blue solid;*/
  }
  
  .row div {
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
  }
  
  .btn-num {
    font-size: 6em !important;
  }
  .btn-op {
    font-size: 3em !important;
  }
  .btn-text {
    font-size: 1.5em !important;
  }
  .btn-main {
    font-size: 1.5em !important;
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
  }
  .label-score{
    font-size: 1.5em !important;
  }
  #label-hour{
    font-size: 1.25em !important;
  }
  .blank {
    font-size: 0.2em !important;
  }
  .inline-btn img{
    width: 24px;
  }
  #hourglass{
    width: 24px;
  }
  .glyphicon {
    font-size: 2em;
  }
}

/* Desktop ----------- */
@media (min-width: 1024px) {
  .btn {
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
    /*border: 4px blue solid;*/
  }
  
  .row div {
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
  }
  
  .btn-num {
    font-size: 6em !important;
  }
  .btn-op {
    font-size: 3em !important;
  }
  .btn-text {
    font-size: 1.5em !important;
  }
  .btn-main {
    font-size: 1.5em !important;
    padding: $padSize*2 $padSize*2 $padSize*2 $padSize*2;
  }
  .label-score{
    font-size: 1.5em !important;
  }
  #label-hour{
    font-size: 1.25em !important;
  }
  .blank {
    font-size: 0.2em !important;
  }
  .inline-btn img{
    width: 24px;
  }
  #hourglass{
    width: 24px;
  }
  .glyphicon {
    font-size: 2em;
  }
}

/* Large Screen ----------- */
@media (min-width: 1824px) {

}