$padSize : 6px;
$blankSize : 0.2em;
$btnNumSize : 4em;
$btnOpSize : 3em;
$btnTextSize : 1.5em;
$navTextSize : 1em;
$imgPencilSize : 24px;
$imgHourSize : 24px;
$labelScoreSize : 1.5em;
$labelHourSize : 1.5em;

@mixin sizing($fontfactor,$imgfactor){
  btn {
    padding: $padSize*$fontfactor $padSize*$fontfactor $padSize*$fontfactor $padSize*$fontfactor;
  }
  .row div {
    padding: $padSize*$fontfactor $padSize*$fontfactor $padSize*$fontfactor $padSize*$fontfactor;
  }
  .btn-num {
    font-size: $btnNumSize*$fontfactor !important;
  }
  .btn-op {
    font-size: $btnOpSize*$fontfactor !important;
  }
  .btn-text {
    font-size: $btnTextSize*$fontfactor !important;
  }
  .btn-main {
    font-size: $btnTextSize*$fontfactor !important;
    padding: $padSize*$fontfactor*2 $padSize*$fontfactor*2 $padSize*$fontfactor*2 $padSize*$fontfactor*2;
  }
  .label-score{
    font-size: $labelScoreSize*$fontfactor !important;
  }
  #label-hour{
    font-size: $labelHourSize*$fontfactor !important;
  }
  .blank {
    font-size: $blankSize*$fontfactor !important;
  }
  .inline-btn img{
    width: $imgPencilSize*$imgfactor;
  }
  #hourglass{
    width: $imgHourSize*$imgfactor;
  }
  .text-nav {
    font-size: $navTextSize*$fontfactor !important;
  }
}

/* Smaller Smartphones ----------- iPhone5*/
@media (max-width: 367px) {
  @include sizing(0.95,1);
}
/* Smartphones ----------- */
@media (min-width: 368px) and (max-width: 767px) {
  @include sizing(1.2,1.5);
}

/* Tablets ----------- ipad */
@media (min-width: 768px) and (max-width: 1024px) {
  @include sizing(1.5,2);
}

/* Desktop ----------- */
@media (min-width: 1024px) {
  @include sizing(1.5,2);
}

/* Large Screen ----------- */
@media (min-width: 1824px) {
  @include sizing(1.5,2);
}