$padSize:5px;
 $marginSize:5px;
 $btnNumSize:4em;
 $btnOpSize:2.5em;
 $btnTextSize:1em;
 $imgPencilSize:36px;
 $labelScoreSize:1.5em;
 $labelHourSize:1.5em;
@mixin sizing($fontfactor, $imgfactor) {
    .num-container {
        margin-top: $marginSize * 2 !important;
        margin-bottom: $marginSize * 2 !important;
    }
    .num-btn {
        margin: $marginSize !important;
        padding: $padSize;
        font-size: $btnNumSize*$fontfactor !important;
    }
    .op-btn {
        margin: $marginSize !important;
        padding: $padSize;
        font-size: $btnOpSize*$fontfactor !important;
    }
    .text-btn {
        font-size: $btnTextSize*$fontfactor !important;
    }
    #score-label {
        font-size: $labelScoreSize*$fontfactor !important;
    }
    #time-label {
        font-size: $labelHourSize*$fontfactor !important;
    }
    .inline li img {
        width: $imgPencilSize*$imgfactor;
    }
    .nav-btn .fa {
        font-size: 2em;
    }
    .home-btn {
        font-size: 1.5em;
        .fa {
            font-size: 1.5em;
        }
    }
    #result-page {
        label {
            font-size: 1.5em;
        }

        .result-btn {
            font-size: 1.25em;
        }
    }
}
/* Smaller Smartphones ----------- iPhone5*/

@media (max-width: 367px) {
    @include sizing(1, 1);
}
/* Smartphones ----------- */

@media (min-width: 368px) and (max-width: 767px) {
    @include sizing(1.2, 1.5);
}
/* Tablets ----------- ipad */

@media (min-width: 768px) and (max-width: 1024px) {
    @include sizing(1.5, 2);
}
/* Desktop ----------- */

@media (min-width: 1024px) {
    @include sizing(1.5, 2);
}
/* Large Screen ----------- */

@media (min-width: 1824px) {
    @include sizing(1.5, 2);
}
