html .ui-bar-i,
html .ui-page-theme-i .ui-bar-inherit,
html .ui-bar-i .ui-bar-inherit,
html .ui-body-i .ui-bar-inherit,
html body .ui-group-theme-i .ui-bar-inherit {
  background: #7bc491;
  border-color: #7bc491;
  color: #fff;
  font-weight: bold;
}
html .ui-bar-i {
  border-width: 1px;
  border-style: solid;
}
html .ui-overlay-i,
html .ui-page-theme-i,
html .ui-page-theme-i .ui-panel-wrapper {
  background: #f9f9f9;
  border-color: #bbb;
  color: #333;
}
html .ui-body-i,
html .ui-page-theme-i .ui-body-inherit,
html .ui-bar-i .ui-body-inherit,
html .ui-body-i .ui-body-inherit,
html body .ui-group-theme-i .ui-body-inherit,
html .ui-panel-page-container-i {
  background: #fff;
  border-color: #7bc491;
  color: #333;
}
html .ui-body-i {
  border-width: 1px;
  border-style: solid;
}
html .ui-page-theme-i a,
html .ui-bar-i a,
html .ui-body-i a,
html body .ui-group-theme-i a {
  color: #7bc491;
  font-weight: bold;
}
html .ui-page-theme-i a:visited,
html .ui-bar-i a:visited,
html .ui-body-i a:visited,
html body .ui-group-theme-i a:visited {
  color: #7bc491;
}
html .ui-page-theme-i a:hover,
html .ui-bar-i a:hover,
html .ui-body-i a:hover,
html body .ui-group-theme-i a:hover {
  color: #7bc491;
}
html .ui-page-theme-i a:active,
html .ui-bar-i a:active,
html .ui-body-i a:active,
html body .ui-group-theme-i a:active {
  color: #7bc491;
}
html .ui-page-theme-i .ui-btn,
html .ui-bar-i .ui-btn,
html .ui-body-i .ui-btn,
html body .ui-group-theme-i .ui-btn,
html body .ui-btn.ui-btn-i,
html .ui-page-theme-i .ui-btn:visited,
html .ui-bar-i .ui-btn:visited,
html .ui-body-i .ui-btn:visited,
html body .ui-group-theme-i .ui-btn:visited,
html body .ui-btn.ui-btn-i:visited {
  background: #7bc491;
  border-color: #7bc491;
  color: #fff;
}
html .ui-page-theme-i .ui-btn:hover,
html .ui-bar-i .ui-btn:hover,
html .ui-body-i .ui-btn:hover,
html body .ui-group-theme-i .ui-btn:hover,
html body .ui-btn.ui-btn-i:hover {
  background: #7bc491;
  border-color: #7bc491;
  color: #fff;
}
html .ui-page-theme-i .ui-btn:active,
html .ui-bar-i .ui-btn:active,
html .ui-body-i .ui-btn:active,
html body .ui-group-theme-i .ui-btn:active,
html body .ui-btn.ui-btn-i:active {
  background: #7bc491;
  border-color: #7bc491;
  color: #fff;
}
html .ui-page-theme-i .ui-btn.ui-btn-active,
html .ui-bar-i .ui-btn.ui-btn-active,
html .ui-body-i .ui-btn.ui-btn-active,
html body .ui-group-theme-i .ui-btn.ui-btn-active,
html body .ui-btn.ui-btn-i.ui-btn-active,
html .ui-page-theme-i .ui-flipswitch-active,
html .ui-bar-i .ui-flipswitch-active,
html .ui-body-i .ui-flipswitch-active,
html body .ui-group-theme-i .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-i.ui-flipswitch-active,
html .ui-page-theme-i .ui-slider-track .ui-btn-active,
html .ui-bar-i .ui-slider-track .ui-btn-active,
html .ui-body-i .ui-slider-track .ui-btn-active,
html body .ui-group-theme-i .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-i .ui-btn-active {
  background-color: #7bc491;
  border-color: #7bc491;
  color: #fff;
}
html .ui-page-theme-i .ui-checkbox-on:after,
html .ui-bar-i .ui-checkbox-on:after,
html .ui-body-i .ui-checkbox-on:after,
html body .ui-group-theme-i .ui-checkbox-on:after,
html .ui-btn.ui-checkbox-on.ui-btn-i:after {
  background-color: #7bc491;
  border-color: #7bc491;
  color: #fff;
}
html .ui-page-theme-i .ui-radio-on:after,
html .ui-bar-i .ui-radio-on:after,
html .ui-body-i .ui-radio-on:after,
html body .ui-group-theme-i .ui-radio-on:after,
html .ui-btn.ui-radio-on.ui-btn-i:after {
  background-color: #7bc491;
  color: #fff;
}
