html .ui-bar-l,
html .ui-page-theme-l .ui-bar-inherit,
html .ui-bar-l .ui-bar-inherit,
html .ui-body-l .ui-bar-inherit,
html body .ui-group-theme-l .ui-bar-inherit {
  background: #ecc850;
  border-color: #ecc850;
  color: #fff;
  font-weight: bold;
}
html .ui-bar-l {
  border-width: 1px;
  border-style: solid;
}
html .ui-overlay-l,
html .ui-page-theme-l,
html .ui-page-theme-l .ui-panel-wrapper {
  background: #f9f9f9;
  border-color: #bbb;
  color: #333;
}
html .ui-body-l,
html .ui-page-theme-l .ui-body-inherit,
html .ui-bar-l .ui-body-inherit,
html .ui-body-l .ui-body-inherit,
html body .ui-group-theme-l .ui-body-inherit,
html .ui-panel-page-container-l {
  background: #fff;
  border-color: #ecc850;
  color: #333;
}
html .ui-body-l {
  border-width: 1px;
  border-style: solid;
}
html .ui-page-theme-l a,
html .ui-bar-l a,
html .ui-body-l a,
html body .ui-group-theme-l a {
  color: #ecc850;
  font-weight: bold;
}
html .ui-page-theme-l a:visited,
html .ui-bar-l a:visited,
html .ui-body-l a:visited,
html body .ui-group-theme-l a:visited {
  color: #ecc850;
}
html .ui-page-theme-l a:hover,
html .ui-bar-l a:hover,
html .ui-body-l a:hover,
html body .ui-group-theme-l a:hover {
  color: #ecc850;
}
html .ui-page-theme-l a:active,
html .ui-bar-l a:active,
html .ui-body-l a:active,
html body .ui-group-theme-l a:active {
  color: #ecc850;
}
html .ui-page-theme-l .ui-btn,
html .ui-bar-l .ui-btn,
html .ui-body-l .ui-btn,
html body .ui-group-theme-l .ui-btn,
html body .ui-btn.ui-btn-l,
html .ui-page-theme-l .ui-btn:visited,
html .ui-bar-l .ui-btn:visited,
html .ui-body-l .ui-btn:visited,
html body .ui-group-theme-l .ui-btn:visited,
html body .ui-btn.ui-btn-l:visited {
  background: #ecc850;
  border-color: #ecc850;
  color: #fff;
}
html .ui-page-theme-l .ui-btn:hover,
html .ui-bar-l .ui-btn:hover,
html .ui-body-l .ui-btn:hover,
html body .ui-group-theme-l .ui-btn:hover,
html body .ui-btn.ui-btn-l:hover {
  background: #ecc850;
  border-color: #ecc850;
  color: #fff;
}
html .ui-page-theme-l .ui-btn:active,
html .ui-bar-l .ui-btn:active,
html .ui-body-l .ui-btn:active,
html body .ui-group-theme-l .ui-btn:active,
html body .ui-btn.ui-btn-l:active {
  background: #ecc850;
  border-color: #ecc850;
  color: #fff;
}
html .ui-page-theme-l .ui-btn.ui-btn-active,
html .ui-bar-l .ui-btn.ui-btn-active,
html .ui-body-l .ui-btn.ui-btn-active,
html body .ui-group-theme-l .ui-btn.ui-btn-active,
html body .ui-btn.ui-btn-l.ui-btn-active,
html .ui-page-theme-l .ui-flipswitch-active,
html .ui-bar-l .ui-flipswitch-active,
html .ui-body-l .ui-flipswitch-active,
html body .ui-group-theme-l .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-l.ui-flipswitch-active,
html .ui-page-theme-l .ui-slider-track .ui-btn-active,
html .ui-bar-l .ui-slider-track .ui-btn-active,
html .ui-body-l .ui-slider-track .ui-btn-active,
html body .ui-group-theme-l .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-l .ui-btn-active {
  background-color: #ecc850;
  border-color: #ecc850;
  color: #fff;
}
html .ui-page-theme-l .ui-checkbox-on:after,
html .ui-bar-l .ui-checkbox-on:after,
html .ui-body-l .ui-checkbox-on:after,
html body .ui-group-theme-l .ui-checkbox-on:after,
html .ui-btn.ui-checkbox-on.ui-btn-l:after {
  background-color: #ecc850;
  border-color: #ecc850;
  color: #fff;
}
html .ui-page-theme-l .ui-radio-on:after,
html .ui-bar-l .ui-radio-on:after,
html .ui-body-l .ui-radio-on:after,
html body .ui-group-theme-l .ui-radio-on:after,
html .ui-btn.ui-radio-on.ui-btn-l:after {
  background-color: #ecc850;
  color: #fff;
}
