html .ui-bar-n,
html .ui-page-theme-n .ui-bar-inherit,
html .ui-bar-n .ui-bar-inherit,
html .ui-body-n .ui-bar-inherit,
html body .ui-group-theme-n .ui-bar-inherit {
  background: #47639e;
  border-color: #47639e;
  color: #fff;
  font-weight: bold;
}
html .ui-bar-n {
  border-width: 1px;
  border-style: solid;
}
html .ui-overlay-n,
html .ui-page-theme-n,
html .ui-page-theme-n .ui-panel-wrapper {
  background: #f9f9f9;
  border-color: #bbb;
  color: #333;
}
html .ui-body-n,
html .ui-page-theme-n .ui-body-inherit,
html .ui-bar-n .ui-body-inherit,
html .ui-body-n .ui-body-inherit,
html body .ui-group-theme-n .ui-body-inherit,
html .ui-panel-page-container-n {
  background: #fff;
  border-color: #47639e;
  color: #333;
}
html .ui-body-n {
  border-width: 1px;
  border-style: solid;
}
html .ui-page-theme-n a,
html .ui-bar-n a,
html .ui-body-n a,
html body .ui-group-theme-n a {
  color: #6c82b1;
  font-weight: bold;
}
html .ui-page-theme-n a:visited,
html .ui-bar-n a:visited,
html .ui-body-n a:visited,
html body .ui-group-theme-n a:visited {
  color: #6c82b1;
}
html .ui-page-theme-n a:hover,
html .ui-bar-n a:hover,
html .ui-body-n a:hover,
html body .ui-group-theme-n a:hover {
  color: #6c82b1;
}
html .ui-page-theme-n a:active,
html .ui-bar-n a:active,
html .ui-body-n a:active,
html body .ui-group-theme-n a:active {
  color: #6c82b1;
}
html .ui-page-theme-n .ui-btn,
html .ui-bar-n .ui-btn,
html .ui-body-n .ui-btn,
html body .ui-group-theme-n .ui-btn,
html body .ui-btn.ui-btn-n,
html .ui-page-theme-n .ui-btn:visited,
html .ui-bar-n .ui-btn:visited,
html .ui-body-n .ui-btn:visited,
html body .ui-group-theme-n .ui-btn:visited,
html body .ui-btn.ui-btn-n:visited {
  background: #47639e;
  border-color: #47639e;
  color: #fff;
}
html .ui-page-theme-n .ui-btn:hover,
html .ui-bar-n .ui-btn:hover,
html .ui-body-n .ui-btn:hover,
html body .ui-group-theme-n .ui-btn:hover,
html body .ui-btn.ui-btn-n:hover {
  background: #6c82b1;
  border-color: #6c82b1;
  color: #fff;
}
html .ui-page-theme-n .ui-btn:active,
html .ui-bar-n .ui-btn:active,
html .ui-body-n .ui-btn:active,
html body .ui-group-theme-n .ui-btn:active,
html body .ui-btn.ui-btn-n:active {
  background: #6c82b1;
  border-color: #6c82b1;
  color: #fff;
}
html .ui-page-theme-n .ui-btn.ui-btn-active,
html .ui-bar-n .ui-btn.ui-btn-active,
html .ui-body-n .ui-btn.ui-btn-active,
html body .ui-group-theme-n .ui-btn.ui-btn-active,
html body .ui-btn.ui-btn-n.ui-btn-active,
html .ui-page-theme-n .ui-flipswitch-active,
html .ui-bar-n .ui-flipswitch-active,
html .ui-body-n .ui-flipswitch-active,
html body .ui-group-theme-n .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-n.ui-flipswitch-active,
html .ui-page-theme-n .ui-slider-track .ui-btn-active,
html .ui-bar-n .ui-slider-track .ui-btn-active,
html .ui-body-n .ui-slider-track .ui-btn-active,
html body .ui-group-theme-n .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-n .ui-btn-active {
  background-color: #6c82b1;
  border-color: #6c82b1;
  color: #fff;
}
html .ui-page-theme-n .ui-checkbox-on:after,
html .ui-bar-n .ui-checkbox-on:after,
html .ui-body-n .ui-checkbox-on:after,
html body .ui-group-theme-n .ui-checkbox-on:after,
html .ui-btn.ui-checkbox-on.ui-btn-n:after {
  background-color: #47639e;
  border-color: #47639e;
  color: #fff;
}
html .ui-page-theme-n .ui-radio-on:after,
html .ui-bar-n .ui-radio-on:after,
html .ui-body-n .ui-radio-on:after,
html body .ui-group-theme-n .ui-radio-on:after,
html .ui-btn.ui-radio-on.ui-btn-n:after {
  background-color: #47639e;
  color: #fff;
}
